
@import "colors";
.container.product-container{padding:0;margin:0;max-width:100%;width:100%}
.productView{   display: block; width: 100%; margin: 0; padding: 0;}
.productView-description.green-matt-desc p { margin: 0;}
// .productView-img-container { max-width: 100%; }
.productView-img-container img { margin: 0; }

.container.product-container .productView .show .stamped-summary-actions { display: none !important;}
#main-content > div.container.product-container > div:nth-child(2) > div.productView > section.productView-details.product-options > div.productView-options > form:nth-child(1) > div:nth-child(3) > div:nth-child(1) { width: 40%; margin-right: 1rem; }
#main-content > div.container.product-container > div:nth-child(2) > div.productView > section.productView-details.product-options > div.productView-options > form:nth-child(1) > div:nth-child(3) > div:nth-child(2) { width: 60%; }
// #main-content > div.container.product-container > div:nth-child(2) > div.productView > section.productView-details.product-options > div.productView-options > form:nth-child(1) > div { display: flex; }
.product-price-stock{display:flex;width:100%;align-items:center}
.product-price-stock .productView-price{margin:0}
div.product-price-stock > h3{ margin: 0; }
.product-price-stock .form-field { margin: 0; }
.product-price-stock .form-field--stock .form-label{margin:0; background:$lightBlue; color:$white;margin-bottom:0;border-radius:12px;margin-left:1em;padding:0 12px;text-transform:uppercase}
h1.productView-title{font-size:28px;color:#173456;max-width:85%;line-height:1.2}
div.productView > section.productView-details.product-options > div.productView-options > form:nth-child(1) > div:nth-child(3) { display: flex; }

@media (min-width: 801px){
.productView-images {
    width: 60%;
    position: sticky;
    top: 108px;
    padding: 0 1rem 0 0;

}
.productView-details {
    padding-bottom: 0;
    width: 40%;
}
}

.productView-product {
    padding: 0 4rem 1rem;
    border-bottom: 1px solid transparent;
}

section.productView-details.product-options {
    padding: 0 5rem 2rem;
}

.container.product-container.product-div.form-select--small, .form-select--date {
    max-width: 100rem;
}
.container.product-container .form-increment .button {
    border: transparent;
}
.product-div .form-increment {
    border: 1px solid #cccccc;
    display: flex;
    justify-content: space-evenly;
    padding: 1rem 0;
    border-radius: 5px;
}
.product-div .form-input--incrementTotal {
    background-color: transparent;
}
.product-div .form-select{border-color:#ccc;background-image:url(../img/product-images/down-arrow-icon.png);background-size:auto;height:3.5em;background-position:right 1.5rem top 2rem;font-size:18px}
div#add-to-cart-wrapper {display:flex;align-items:center}
.form-field.form-field--increments{ width: 40%; margin-right: 1rem; }
.productView-options .form-action{ width: 60%; margin-top: 0; }
.product-options .productView-options .form-action .button{width: 100%;}
.learnmore-div p{font-size: 14px; margin-top: 4px; text-align: left;}
.product-div .form-select--small, .form-select--date { max-width: 100%;}
.product-options .productView-options .form-action .button{font-size:18px;text-transform: uppercase;margin:0;width:100%;background:#173456;color:#fff;border-color:transparent!important;background-image:url(https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/add-to-cart-img.png?t=1625732593);background-repeat:no-repeat;border-radius:5px;display:grid;background-position:left 2rem center;height:3.7rem}
.prodview-shipping-details{background:#e2e8ed;padding:11px 0;}
.prodview-shipping-details div h5{color:#132448;font-weight:700;margin:0}
.product-price-stock h3{color:#173456;font-weight:700}
.product-price-stock .price{color:#173456;font-weight:700}
.productView-details.product-data #stamped-badge-total, .productView-details.product-data #stamped-badge-title, .productView-details.product-data  #stamped-summary-actions-newreview {color: #888 !important;}
.detail.d-flex{border-top:1px solid #888;border-bottom:1px solid #888;padding:1.5rem 0}
img#details-close { height: 1.3rem; image-rendering: -webkit-optimize-contrast;}

// OTHER DETAIL TABLE
.table-detail td.productView-info-name{border:1px solid #888;padding:20px;text-align:left;width:50%;font-weight:600}
.table-detail table { border: 1px solid #888;}
.table-detail table tr {border: 1px solid #888;}
td.productView-info-value {padding: 5px 12px;}

// END OF TABLE

// Product Thumb Image

.matt-ftr-div.row{max-width:85%;margin:0 auto;flex-flow:row wrap;justify-content:center}
.grn-ftr-text{text-align:center;max-width:80%;margin:0 auto;font-size:18px}
.green-matt-features{background:#e2e8ed;width:100%;display:grid;place-content:center;place-items:center;justify-content:center;margin-top:0;padding:2rem 0}
.grn-matt-img{padding:12px}
.matt-ftr-div.row{max-width:85%;margin:0 auto;flex-flow:row wrap;justify-content:center}
.grn-ftr-text{text-align:center;max-width:80%;margin:0 auto;font-size:18px}
.green-matt-features{background:#e2e8ed;width:100%;display:grid;place-content:center;place-items:center;justify-content:center;margin-top:0;padding:2rem 0}
.grn-matt-img{padding: 12px}
.prodview-sizechart-img.green-mattress-chart{width:80%;padding:50px 0;display:block;text-align:center;display:-ms-flexbox;display:flex;margin:0 auto;-ms-flex-pack:center;justify-content:center}
.prodview-sizechart.green-matt {
    background: url(https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/is-parallax-pattern.png?t=1623642972&_ga=2.224919322.1496872644.1623634006-1835193253.1617777202);
    background-repeat: no-repeat;
    height: auto;
    width: 100%;
    background-size: cover;
    position: relative;
    margin-bottom: 3%;
    background-attachment: fixed;
    transform-style: preserve-3d;
    perspective: 1px;
    padding: 50px;
}
.sub-prodview-podimg.green-matt-sub {
    width: 90%;
    padding: 50px 0;
    display: block;
    text-align: center;
    margin: 0 auto;
}
.sub-prodview-podimg div{
    width: 29%;
    margin: 0 1.5%;
    display: inline-block;
}
@media (max-width: 800px){
.prodview-sizechart-img.green-mattress-chart{
    flex-flow: row wrap;
}
}

.prodview-advantage-con {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 75%;
    margin: 0 auto;
    grid-gap: 20px;
}
// @media screen and (max-width: 1023px) {
// 	.header .logo_search_cart .navUser-section--alt {
// 		right: 2%;
// 		top: 35%;
// 		transform: translateY(-50%);
// 	}
// 	.header .mobileMenu-toggle{
// 		margin-top:0 !important;
// 		top:50%;
// 		transform: translateY(-50%);
//         display: inline-block;
	
// 	}

// }
.FAQS-categ.green-faq-categ {
    background: #132448;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 70px;
    
        .faqs-content h4, .faqs-content p{
            color: #fff;
            text-align: left;
        }

        .myaccordion .card-header i.fa.fa-plus, i.fa.fa-minus {
            color: #00d2ff;
        }
        .myaccordion  .card-header {
            padding: 0 1.25rem;
            margin-bottom: 0;
            border-bottom: transparent;
            background-color: transparent;
        }

        .myaccordion .card{
            border: 1px solid transparent;
            border-bottom: 1px solid $white;
            padding-bottom: 3px;
        }
        .myaccordion .card-header  .fa-lg {
            font-size: 1em;
        }
}

// header .head-container .navPages-container.is-open {
//     display: block;
//     padding-top: 55px;
//     z-index: 0;

// }
// .header .head-container .navPages-container {
//    display: none;
// }